body{
    background-color: chocolate;
    margin: 0 auto;
}
input{
    top: 2000px;
    height: 80px;
    width: 200px;
}
button {
    border: 3px solid brown;
    color: orange;
    text-transform: uppercase;
    background-color: darkred;
    text-align: flex;
    font-family: impact;
    font-size: 22px;
    width: 220px;
    height: 100px;
}
.image {
    top: 100px;
    margin-left: 300px;
    height: 100px;
    width: 100px;
}
#out{
  font-size: 30px;
  color: wheat;
}